# SQL Data munging example

In this exercise, we will experiment with data in a sqlite database using pandas data queries.

## Setup

### Install sqlite

```
sudo apt-get install sqlite
```

### Download data

```
wget http://www.fdic.gov/bank/individual/failed/banklist.csv
```

### Import into database

#### From command line
```
sqlite3 banks.db
```

#### Inside SQL terminal

```
.mode csv
.import banklist.csv bank
.schema bank
select * from bank limit 10;
```

In [16]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import sqlite3

In [13]:
conn = sqlite3.connect("data/banks.db")
cur = conn.cursor()

In [15]:
results = cur.execute('select * from bank limit 10;').fetchall()
print(results)

[('The Farmers and Merchants State Bank of Argonia', 'Argonia', 'KS', '17719', 'Conway Bank', '13-Oct-17', '13-Oct-17'), ('Fayette County Bank', 'Saint Elmo', 'IL', '1802', 'United Fidelity Bank, fsb', '26-May-17', '26-Jul-17'), ('Guaranty Bank, (d/b/a BestBank in Georgia & Michigan) ', 'Milwaukee', 'WI', '30003', 'First-Citizens Bank & Trust Company', '5-May-17', '26-Jul-17'), ('First NBC Bank', 'New Orleans', 'LA', '58302', 'Whitney Bank', '28-Apr-17', '26-Jul-17'), ('Proficio Bank', 'Cottonwood Heights', 'UT', '35495', 'Cache Valley Bank', '3-Mar-17', '18-May-17'), ('Seaway Bank and Trust Company', 'Chicago', 'IL', '19328', 'State Bank of Texas', '27-Jan-17', '18-May-17'), ('Harvest Community Bank', 'Pennsville', 'NJ', '34951', 'First-Citizens Bank & Trust Company', '13-Jan-17', '18-May-17'), ('Allied Bank', 'Mulberry', 'AR', '91', "Today's Bank", '23-Sep-16', '25-Sep-17'), ('The Woodbury Banking Company', 'Woodbury', 'GA', '11297', 'United Bank', '19-Aug-16', '1-Jun-17'), ('First CornerStone Bank', 'King of Prussia', 'PA', '35312', 'First-Citizens Bank & Trust Company', '6-May-16', '6-Sep-16')]

In [17]:
pd.read_sql_query("select * from bank limit 10;", conn)

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,The Farmers and Merchants State Bank of Argonia,Argonia,KS,17719,Conway Bank,13-Oct-17,13-Oct-17
1,Fayette County Bank,Saint Elmo,IL,1802,"United Fidelity Bank, fsb",26-May-17,26-Jul-17
2,"Guaranty Bank, (d/b/a BestBank in Georgia & Mi...",Milwaukee,WI,30003,First-Citizens Bank & Trust Company,5-May-17,26-Jul-17
3,First NBC Bank,New Orleans,LA,58302,Whitney Bank,28-Apr-17,26-Jul-17
4,Proficio Bank,Cottonwood Heights,UT,35495,Cache Valley Bank,3-Mar-17,18-May-17
5,Seaway Bank and Trust Company,Chicago,IL,19328,State Bank of Texas,27-Jan-17,18-May-17
6,Harvest Community Bank,Pennsville,NJ,34951,First-Citizens Bank & Trust Company,13-Jan-17,18-May-17
7,Allied Bank,Mulberry,AR,91,Today's Bank,23-Sep-16,25-Sep-17
8,The Woodbury Banking Company,Woodbury,GA,11297,United Bank,19-Aug-16,1-Jun-17
9,First CornerStone Bank,King of Prussia,PA,35312,First-Citizens Bank & Trust Company,6-May-16,6-Sep-16